main {
    height: 78%;
    
}

main section.about_races {
    padding: 5% 15% 3% 15%;
    
}

main section.about_races h3 {
    font-size: 20px;
}

main section.about_races p {
    margin: 5px;
    font-size: 18px;
    text-indent: 25px;
}
